# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.venv/
venv/
.env

# Jupyter / Colab
.ipynb_checkpoints/

# OS / editors
.DS_Store
Thumbs.db
.vscode/
.idea/

# Secrets
*.key
*.pem
secrets.*
.env.*
